---
layout: compress
permalink: /
---
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Stylish Portfolio - Start Bootstrap Template</title>
 <!-- Custom Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <!-- Custom CSS -->
  <link href="assets/css/style.css" rel="stylesheet">
  
  {% seo %}
  {% include analytics.html %}

</head>

<body id="page-top">

  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top">Start Bootstrap</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#page-top">Inicio</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#about">Nosotros</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#services">Ubicación</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#portfolio">Estilos</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#contact">Contacto</a>
      </li>
    </ul>
  </nav>

  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">
        {% picture assets/images/apoya-tu-cerveceria-local.png
                --alt #ApoyátuCerveceriaLocal
                --title Apoyá tu cerveceria local
        %}
      </h1>
      <h3 class="mb-5">
        <em>A Free Bootstrap Theme by Start Bootstrap</em>
      </h3>
      <a class="btn btn-seconday btn-xl js-scroll-trigger" href="https://tienda.cervezahopfen.com/store/">Comprá online</a>
    </div>
    <div class="overlay"></div>
  </header>

  <!-- About -->
  <section class="content-section bg-light" id="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>Nosotros</h2>
          <p class="lead mb-5">Somos Hopfen Brewing Co., dos amigos cerveceros. Nuestra misión es llevar la mejor cerveza artesanal a
            todos los paladares cerveceros exigentes.</p>
          <p class="lead mb-5">Nuestra cerveza mantiene la misma calidad siempre, desde la primera gota al último barril.</p>
          <p class="lead mb-5">Como lo logramos? Trabajamos artesanalmente, lo que significa que estamos detras de cada paso y cada
            proceso, para lograr la maxima calidad.</p>
          <p class="lead mb-5">Somos Hopfen: Cerveza con Gusto.</p>
          <a class="btn btn-secondary btn-xl js-scroll-trigger" href="#portfolio">Estilos</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Services -->
  <section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
      <div class="content-section-heading">
        <h3 class="text-secondary mb-0">¿Tenés un bar o evento?</h3>
        <h2 class="mb-5">Nosotros te Proveemos</h2>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-screen-smartphone"></i>
          </span>
          <h4>
            <strong>Donde Estamos</strong>
          </h4>
          <p class="text-faded mb-0">Visitá nuestro mapa para conocer nuestros puntos de venta y recarga.</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-pencil"></i>
          </span>
          <h4>
            <strong>La Fábrica</strong>
          </h4>
          <p class="text-faded mb-0">Visitá nuestro mapa para conocer nuestros puntos de venta y recarga.</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-like"></i>
          </span>
          <h4>
            <strong>Barra HOPFEN</strong>
          </h4>
          <p class="text-faded mb-0">Estamos preparados para cualquier evento.</p>
          <p class="text-faded mb-0">Nuestra barra movil va donde está la acción.</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-mustache"></i>
          </span>
          <h4>
            <strong>Question</strong>
          </h4>
          <p class="text-faded mb-0">I mustache you a question...</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Callout -->
  <section class="callout">
    <div class="container text-center">
      <h2 class="mx-auto mb-5">Welcome to
        <em>your</em>
        next website!</h2>
      <a class="btn btn-primary btn-xl" href="https://startbootstrap.com/themes/stylish-portfolio/">Download Now!</a>
    </div>
  </section>

  <!-- Portfolio -->
  <section class="content-section" id="portfolio">
    <div class="container">
      <div class="content-section-heading text-center">
        <h3 class="text-secondary mb-0">Portfolio</h3>
        <h2 class="mb-5">Estilos</h2>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-4">
          <a class="portfolio-item" href="#!">
            <div class="caption">
              <div class="caption-content">
                <div class="h2">ALC: 6,3% | IBU: 10 | SRM: 6</div>
                <p class="mb-0"><small>Balanceada, dulce y fácil de tomar gracias a la miel que se encuentra presente en perfecta armonía.</small></p>
                <p class="mb-0"><small>De color dorado opaco; aroma a malta . Al beberla se distingue un exquisito sabor a malta, algo de lúpulo y en el
                  fondo un particular dulzor proveniente de la miel.</small></p>
              </div>
            </div>
            {% picture assets/images/estilos-honey.jpeg
                --alt Cerveza Estilo Honey
                --title Cerveza Estilo Honey
                --img class="img-fluid"
            %}
          </a>
        </div>
        <div class="col-lg-4">
          <a class="portfolio-item" href="#!">
            <div class="caption">
              <div class="caption-content">
                <div class="h2">ALC: 5,1% | IBU: 18 | SRM: 17/div>
                <p class="mb-0"><small>Color rojizo, su característica mas representativa. Esta Ale con un sabor malteado, a caramelo, aroma a malta y
                  amargor bajo es realmente fácil de tomar.</small></p>
              </div>
            </div>
            {% picture assets/images/estilos-irish.jpeg
                --alt Cerveza Estilo Irish
                --title Cerveza Estilo Irish
                --img class="img-fluid"
            %}
          </a>
        </div>
        <div class="col-lg-4">
          <a class="portfolio-item" href="#!">
            <div class="caption">
              <div class="caption-content">
                <div class="h2">AALC: 5,5% | IBU: 20 | SRM: 31</div>
                <p class="mb-0"><small>De color negro intenso se presenta brillante y limpia con abundante espuma.</small></p>
                <p class="mb-0"><small>Con algo de perfume a café, en el paso por boca encontramos una cerveza con cuerpo, de un ligero
                    sabor tostado con notas a chocolate dejándonos al final, como retrogusto, un recuerdo dulce.</small></p>
              </div>
            </div>
            {% picture assets/images/estilos-porter.jpeg
                --alt Cerveza Estilo Porter
                --title Cerveza Estilo Porter
                --img class="img-fluid"
            %}
          </a>
        </div>
        <div class="col-lg-4">
          <a class="portfolio-item" href="#!">
            <div class="caption">
              <div class="caption-content">
                <div class="h2">ALC: 4,8 | IBU: 61 | SRM: 8</div>
                <p class="mb-0"><small>De cuerpo ligero y color claro, esta cerveza tiene un justo amargor y un aroma complejo con
                    toques florales, tropicales y afrutados entregado por lúpulos americanos que estuvieron en el proceso en buena
                    cantidad.</small></p>
              </div>
            </div>
            {% picture assets/images/estilo-american-ipa.jpg
                --alt Cerveza Estilo American Ipa
                --title Cerveza Estilo American Ipa
                --img class="img-fluid"
            %}
          </a>
        </div>
        <div class="col-lg-4">
          <a class="portfolio-item" href="#!">
            <div class="caption">
              <div class="caption-content">
                <div class="h2"></div>
                <p class="mb-0"><small></small></p>
              </div>
            </div>
            {% picture assets/images/hopfen-logo.png
                --alt Cerveza Hopfen Logo
                --title Cerveza Hopfen Logo
                --img class="img-fluid"
            %}
          </a>
        </div>
        <div class="col-lg-4">
          <a class="portfolio-item" href="#!">
            <div class="caption">
              <div class="caption-content">
                <div class="h2">ALC: 5,0% | IBU: 32 | SRM: 12</div>
                <p class="mb-0"><small>Nuestra English Pale Ale se presenta con color ámbar y destellos naranjas.</small></p>
                <p class="mb-0"><small>El aroma empuja notas dulces que nos recuerdan a cereal con un tono herbal de fondo procedente
                    del lúpulo. </small></p>
                <p class="mb-0"><small>El trago se hace agradable en boca, tanto por su cuerpo como por su gusto maltoso y algún
                    recuerdo a caramelo, acabando con un ligero amargor que nos invita a repetir la experiencia.</small></p>
              </div>
            </div>
            {% picture assets/images/estilo-epa-cut.jpg
                --alt Cerveza Estilo EPA Cut
                --title Cerveza Estilo EPA Cut
                --img class="img-fluid"
            %}
          </a>
        </div>
        <div class="col-lg-4">
          <a class="portfolio-item" href="#!">
            <div class="caption">
              <div class="caption-content">
                <div class="h2">ALC: 10,9% | IBU: 55 | SRM: 37</div>
                <p class="mb-0"><small>Robusta, intensa y compleja es esta WIS, una cerveza oscura, de contenido alcohólico elevado,
                    sabor a tostado y amargor suficiente.</small></p>
                <p class="mb-0">
                  <small>A esto le agregamos el mejor whisky escoces fusionándose de la mejor manera.</small>
                </p>
              </div>
            </div>
            {% picture assets/images/estilo-whisky-stout.png
                --alt Cerveza Estilo Whisky Stout
                --title Cerveza Estilo Whisky Stout
                --img class="img-fluid"
            %}
          </a>
        </div>
        <div class="col-lg-4">
          <a class="portfolio-item" href="#!">
            <div class="caption">
              <div class="caption-content">
                <div class="h2">ALC: 5,6% | IBU: 50 | SRM: 19</div>
                <p class="mb-0"><small>Cerveza con gran protagonismo de lúpulos tanto en su amargor presente como en su aroma
                    delicado.</small></p>
                <p class="mb-0"><small>De color cobre oscuro, su combinación de maltas especiales nos deja profundas notas a caramelo y
                    leves tostados.</small></p>
              </div>
            </div>
            {% picture assets/images/estilo-red-ipa.png
                --alt Cerveza Estilo Red IPA
                --title Cerveza Estilo Red IPA
                --img class="img-fluid"
            %}
          </a>
        </div>
        <div class="col-lg-4">
          <a class="portfolio-item" href="#!">
            <div class="caption">
              <div class="caption-content">
                <div class="h2">ALC: 10% | IBU: 55 | SRM: 22</div>
                <p class="mb-0"><small>Se distingue por su cuerpo, su color cobrizo y su alta graduación alcohólica.</small></p>
                <p class="mb-0"><small>El sabor maltoso intenso se encuentra balanceado hacia el amargor gracias al lúpulo, que también
                    lo encontramos presente en su aroma inmerso junto con el carácter de la malta.</small></p>
              </div>
            </div>
            {% picture assets/images/estilo-barely-wine.jpg
                --alt Cerveza Estilo Barely Wine
                --title Cerveza Estilo Barely Wine
                --img class="img-fluid"
            %}
          </a>
        </div>
        
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="content-section bg-primary text-white">
    <div class="container text-center">
      <h2 class="mb-4">The buttons below are impossible to resist...</h2>
      <a href="#!" class="btn btn-xl btn-light mr-4">Click Me!</a>
      <a href="#!" class="btn btn-xl btn-dark">Look at Me!</a>
    </div>
  </section>

  <!-- Map -->
  <div id="contact" class="map">
    <iframe src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
    <br />
    <small>
      <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
    </small>
  </div>

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#!">
            <i class="icon-social-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#!">
            <i class="icon-social-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="#!">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; Cerveza Hopfen 2020 - Desarrollado por <a href="https://arielsperduti.com">El Guerrero del SEO</a></p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  
  {% include lazysizes.html %}
  <script src="assets/js/all.js"></script>


</body>

</html>
