<!--Footer-->
<footer class="bg-dark py-3">
    <div class="container">
        <div class="row text-center align-items-center">
            <div class="col">
                <ul class="nav justify-content-center">
                    {% for item in site.data.navigation %}
                    <li class="nav-item">
                        <a class="nav-link{% if page.permalink == item.link %} active{% endif %}" href="{{ item.link | relative_url }}">{{ item.name }}</a>
                    </li>
                    {% endfor %}
                </ul>

                <p>© 1988-2020 Pancho by <a href="https://arielsperduti.com">Ariel Sperduti</a></p>
            </div>
        </div>
    </div>
</footer>