<!-- Footer -->
<footer class="footer text-center">
    <div class="container">
        <ul class="list-inline mb-5">
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="https://facebook.com/CervezaHopfen/" aria-label="Facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="https://instagram.com/cervezahopfen/" aria-label="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white" href="https://wa.me/543416865074/" aria-label="WhatsApp">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white" href="https://wa.me/543413217427/" aria-label="WhatsApp">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </li>
        </ul>
        <p class="text-muted small mb-0">Copyright © Cerveza Hopfen 2020 - Desarrollado por <a
                href="https://arielsperduti.com">El Guerrero del SEO</a></p>
    </div>
</footer>