---
layout: compress
---

<!DOCTYPE html>

<html lang="{{ site.lang }}">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Custom Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic&display=swap"
            rel="stylesheet" type="text/css" media="print" onload="this.media='all'">

        <link rel="stylesheet" href="/assets/css/style.css" media="print" onload="this.media='all'"><!--https://www.filamentgroup.com/lab/load-css-simpler/-->
        <link rel="preload" href="/assets/webfonts/fa-brands-400.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="/assets/webfonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="/assets/webfonts/Simple-Line-Icons.woff2?v=2.4.0" as="font" type="font/woff2" crossorigin>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        {% seo %}
        {% include analytics.html %}
    </head>

    <body id="page-top">
        {% include navbar.html %}

        {{ content }}

        {% include footer.html %}
        
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top" aria-label="Ir Arriba">
            <i class="fas fa-angle-up"></i>
        </a>
        
        {% include lazysizes.html %}
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="/assets/js/all.js" async defer></script>
            
    </body>
        
</html>
